workflows/moj asystent.json
{
  "name": "moj asystent",
  "nodes": [
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "GPT-3.5-TURBO"
        },
        "responses": {
          "values": [
            {
              "content": "={{ $json.polaczonyTekst }}\n\nPowyżej znajduje się TRANSKRYPCJA głosowa z listą zakupów.\nPracuj WYŁĄCZNIE na tym tekście. Traktuj go jak \"prawdę objawioną\" – nie poprawiaj go, nie domyślaj się, co użytkownik „pewnie miał na myśli”.\n\nTwoje zadanie:\n1. Rozpoznaj intencję: DODANIE produktów czy USUNIĘCIE produktów z listy zakupów.\n2. Wyodrębnij z transkrypcji wszystkie słowa/frazy, które wyglądają na nazwy produktów.\n3. Dla każdego produktu spróbuj wyciągnąć ilość, jednostkę, opis i ewentualne uwagi.\n\n**ROZPOZNAWANIE INTENCJI:**\n\n**INTENCJA: DODANIE produktów**\nJeśli wiadomość zawiera:\n- Słowa: dodaj, kup, potrzebuję, chcę, lista zakupów, zakupy\n- Wymienione produkty bez słów wskazujących na usunięcie\n- Brak słów wskazujących na usunięcie (usuń, wykreśl, nie kupuj, nie potrzebuję, skreśl, usuń z listy)\n\n**INTENCJA: USUNIĘCIE produktów**\nJeśli wiadomość zawiera:\n- Słowa: usuń, wykreśl, skreśl, nie kupuj, nie potrzebuję, usuń z listy, nie kupować, odwołaj\n- Wskazanie na produkty, które mają być usunięte\n- Negację w kontekście zakupów (np. \"nie kupuj chleba\", \"nie potrzebuję mleka\")\n\nDZIELENIE NA WIELE PRODUKTÓW Z JEDNEGO ZDANIA:\n- Jeśli w jednym zdaniu występuje kilka produktów oddzielonych przecinkami lub spójnikami (\"i\", \"oraz\", \"lub\"), potraktuj KAŻDY z nich jako osobny produkt.\n- Przykład:\n  Transkrypcja: \"Worki na śmieci, gąbki do mycia naczyń.\"\n  Odpowiedź MUSI zawierać DWA produkty:\n\n  {\n    \"action\": \"add\",\n    \"products\": [\n      { \"lp\": 1, \"name\": \"worki na śmieci\", \"quantity\": 1, \"unit\": \"szt\", \"description\": \"\", \"notes\": \"\" },\n      { \"lp\": 2, \"name\": \"gąbki do mycia naczyń\", \"quantity\": 1, \"unit\": \"szt\", \"description\": \"\", \"notes\": \"\" }\n    ],\n    \"summary\": \"Lista zakupów: worki na śmieci, gąbki do mycia naczyń\"\n  }\n\n- Przykład USUWANIA:\n  Transkrypcja: \"Usuń chleb i mleko z listy zakupów.\"\n  Odpowiedź:\n\n  {\n    \"action\": \"remove\",\n    \"products\": [\n      { \"row_number\": 1, \"name\": \"chleb\", \"quantity\": 1, \"unit\": \"szt\", \"description\": \"\", \"notes\": \"\" },\n      { \"row_number\": 2, \"name\": \"mleko\", \"quantity\": 1, \"unit\": \"szt\", \"description\": \"\", \"notes\": \"\" }\n    ],\n    \"summary\": \"Usunięcie z listy: chleb, mleko\"\n  }\n\n- NIE WOLNO pomijać żadnego produktu, który występuje w tekście, nawet jeśli zdanie jest krótkie lub wygląda mało „typowo”.\n\nBARDZO WAŻNE ZASADY (BEZWZGLĘDNIE PRZESTRZEGAJ):\n- **NIE WOLNO** dodawać produktów, które NIE WYSTĘPUJĄ jako słowa w transkrypcji.\n- Każdy produkt w polu \"name\" musi mieć swój odpowiednik jako słowo/fraza w tekście wejściowym.\n- **NIE WOLNO** zamieniać jednego słowa na inne „bardziej sensowne”.\n  - Jeśli w tekście jest „Masuo”, to w JSON masz wpisać `\"name\": \"Masuo\"`, a NIE „masło”.\n  - Jeśli jakieś słowo brzmi dziwnie albo nie jesteś pewien, i tak wpisz je dokładnie tak, jak w transkrypcji (poza prostą normalizacją do mianownika / liczby pojedynczej, ale bez zmiany rdzenia).\n- **NIE WOLNO** zgadywać produktów „z głowy\", na podstawie:\n  - typowych list zakupów,\n  - zdrowego rozsądku,\n  - tego, co „często się kupuje razem\".\n- Jeśli w tekście jest tylko jedno dziwne słowo i nie wiesz, co to jest, potraktuj je jako nazwę produktu i wpisz je dokładnie tak, jak brzmi.\n- Jeśli naprawdę nie znajdujesz żadnych oczywistych produktów, zwróć po prostu `\"products\": []`.\n\nZasady ekstrakcji:\n- Każdy produkt powinien mieć unikalny numer porządkowy (lp), zaczynający się od 1 i rosnący o 1.\n- Jeśli produkt ma ilość (np. „2 chleby\", „kilogram mąki\"), wyodrębnij ją do `quantity`.\n- Jeśli produkt ma jednostkę (np. „kg\", „szt\", „litr\"), wyodrębnij ją do `unit`.\n- Jeśli pojawiają się dodatkowe informacje (marka, rodzaj, smak itp.), wpisz je w `description`.\n- **UWAGI (notes)**: Jeśli są dodatkowe wskazówki typu „kup w Lidlu\", „nie kupuj jako UHT\", „tylko marka Y\", przenieś je do pola `notes`.\n\nZwróć WYŁĄCZNIE poprawny JSON w formacie:\n\n{\n  \"action\": \"add\" | \"remove\",\n  \"products\": [\n    {\n      \"row_number\": 1,\n      \"name\": \"dokładna nazwa z transkrypcji (bez zgadywania)\",\n      \"quantity\": 2,\n      \"unit\": \"szt\",\n      \"description\": \"opcjonalny opis\",\n      \"notes\": \"opcjonalne uwagi (np. 'kup w lidlu', 'nie kupuj jako X')\"\n    }\n  ],\n  \"summary\": \"krótkie podsumowanie listy, bazujące wyłącznie na faktycznych produktach\"\n}\n\nDodatkowe zasady:\n- Pole `action` musi być \"add\" (dodanie) lub \"remove\" (usunięcie).\n- Jeśli intencja jest niejasna, domyślnie ustaw `action: \"add\"`.\n- Jeśli ilość nie jest podana, ustaw `quantity: 1`.\n- Jeśli jednostka nie jest podana, ustaw `unit: \"szt\"`.\n- Nazwę możesz znormalizować do mianownika liczby pojedynczej (np. „chleb\" zamiast „chleby\"), ALE:\n  - nie zamieniaj słowa na inne (np. „Masuo\" NIE może stać się „masło\").\n- Pole `notes` wypełniaj tylko wtedy, gdy w transkrypcji są wyraźne uwagi dotyczące zakupu.\n- NIE dodawaj żadnych komentarzy ani tekstu poza jednym obiektem JSON.\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -112,
        512
      ],
      "id": "c8468263-377b-4f35-ab06-de6077cf4794",
      "name": "OpenAI - Rozpoznaj intencję",
      "credentials": {
        "openAiApi": {
          "id": "tieAhpOSBmQOrTPn",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1Xtq-ZV8jDUnZkqCeTt5cmniAiregV9iGRulUyq19Zl4",
          "mode": "list",
          "cachedResultName": "lista zakupów",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Xtq-ZV8jDUnZkqCeTt5cmniAiregV9iGRulUyq19Zl4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Arkusz1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Xtq-ZV8jDUnZkqCeTt5cmniAiregV9iGRulUyq19Zl4/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "nazwa produktu": "={{ $json.name }}",
            "ilość": "={{ $json.quantity }} {{ $json.unit }}",
            "uwagi": "={{ $json.description }} {{ $json.notes }}",
            "status": "={{ $json.status || 'Nie kupione' }}"
          },
          "matchingColumns": [
            "nazwa produktu"
          ],
          "schema": [
            {
              "id": "nazwa produktu",
              "displayName": "nazwa produktu",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "ilość",
              "displayName": "ilość",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "uwagi",
              "displayName": "uwagi",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "14193b60-a0fb-4cc9-970d-9df04a7add9d",
      "name": "Google Sheets - Zapisz zadania",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        928,
        576
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FB1poHZRQGWU0JyZ",
          "name": "Google Sheets moj asystent"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * Parsuj odpowiedź z OpenAI GPT i przygotuj dane do zapisania w Excelu (Google Sheets)\n * \n * Schemat kolumn w Excelu dla listy zakupów:\n * - lp (numer porządkowy)\n * - nazwa produktu\n * - ilość\n * - jednostka\n * - opis\n * - data\n * - status\n * - utworzono\n * \n * Użycie w n8n Code node:\n * - Połączenie: OpenAI GPT (Lista zakupów) → Parsuj listę zakupów → Google Sheets\n */\n\nconst inputItems = $input.all();\n\nfunction parseFromModelText(itemJson) {\n  // Sprawdź czy dane są już obiektem JSON (np. z węzła IF)\n  if (itemJson && typeof itemJson === 'object' && !Array.isArray(itemJson)) {\n    // Jeśli już mamy obiekt z polami action, products, summary - użyj go bezpośrednio\n    if (itemJson.action || itemJson.products || itemJson.summary) {\n      return itemJson;\n    }\n  }\n  \n  // Jeśli nie, spróbuj wyciągnąć z odpowiedzi GPT (langchain format)\n  let text = itemJson?.output?.[0]?.content?.[0]?.text || itemJson.text || itemJson;\n\n  // Jeśli to już obiekt, zwróć go\n  if (typeof text === 'object' && text !== null) {\n    return text;\n  }\n\n  // Jeśli to nie string, spróbuj sparsować jako JSON\n  if (typeof text !== \"string\") {\n    // Może to być już sparsowany obiekt\n    if (typeof text === 'object') {\n      return text;\n    }\n    throw new Error(\"Nie znaleziono danych w odpowiedzi\");\n  }\n\n  // Wyczyść tekst z markdown code blocks i znaków nowej linii\n  text = text\n    .trim()\n    .replace(/^```(?:json)?\\s*/i, \"\")\n    .replace(/```$/i, \"\")\n    .replace(/\\\\n/g, '') // Usuń literały \\n\n    .trim();\n\n  // Wyciągnij JSON z tekstu\n  const match = text.match(/\\{[\\s\\S]*\\}/);\n  if (!match) {\n    throw new Error(\"W tekście nie ma obiektu JSON\");\n  }\n\n  let jsonString = match[0];\n  \n  // Funkcja do naprawiania typowych błędów JSON\n  function fixJson(jsonStr) {\n    // Usuń wszystkie \\n i rzeczywiste znaki nowej linii\n    jsonStr = jsonStr.replace(/\\\\n/g, '').replace(/\\n/g, '');\n    \n    // Napraw brakujące przecinki między zamykającym nawiasem tablicy a następnym polem\n    // Przykład: ]\"summary\" -> ],\"summary\"\n    jsonStr = jsonStr.replace(/\\]\\s*\"/g, '], \"');\n    \n    // Napraw brakujące przecinki między wartościami a następnym polem\n    // Przykład: \"\"notes\" -> \", \"notes\"\n    jsonStr = jsonStr.replace(/\"\"([a-zA-Z_])/g, '\", \"$1');\n    \n    // Napraw brakujące przecinki między polami (np. \"notes\" \"summary\" -> \"notes\", \"summary\")\n    jsonStr = jsonStr.replace(/\"\\s*\"([a-zA-Z_])/g, '\", \"$1');\n    \n    // Napraw brakujące przecinki w tablicach (np. }{ -> },{)\n    jsonStr = jsonStr.replace(/}\\s*{/g, '}, {');\n    \n    // Napraw brakujące przecinki między elementami tablicy\n    jsonStr = jsonStr.replace(/}\\s*]/g, '}]');\n    \n    // Napraw podwójne przecinki\n    jsonStr = jsonStr.replace(/,\\s*,/g, ',');\n    \n    // Napraw przecinki przed zamykającymi nawiasami (usuń nadmiarowe)\n    jsonStr = jsonStr.replace(/,\\s*([}\\]])/g, '$1');\n    \n    return jsonStr;\n  }\n\n  let parsed;\n  try {\n    parsed = JSON.parse(jsonString);\n  } catch (parseError) {\n    // Spróbuj naprawić JSON\n    let cleanedJson = fixJson(jsonString);\n    try {\n      parsed = JSON.parse(cleanedJson);\n    } catch (e) {\n      // Jeśli nadal nie działa, spróbuj bardziej agresywne naprawy\n      try {\n        // Napraw konkretny przypadek: ]\"summary\" -> ],\"summary\"\n        cleanedJson = cleanedJson.replace(/\\]\\s*\"summary\"/g, '], \"summary\"');\n        // Napraw: \"\"notes\" -> \", \"notes\"\n        cleanedJson = cleanedJson.replace(/\"\"notes\"/g, '\", \"notes\"');\n        // Napraw: \"notes\" \"summary\" -> \"notes\", \"summary\"\n        cleanedJson = cleanedJson.replace(/\"notes\"\\s*\"summary\"/g, '\"notes\", \"summary\"');\n        \n        parsed = JSON.parse(cleanedJson);\n      } catch (e2) {\n        // Ostatnia próba - wyświetl szczegóły błędu dla debugowania\n        console.error('=== BŁĄD PARSOWANIA JSON ===');\n        console.error('Oryginalny JSON (pierwsze 800 znaków):', jsonString.substring(0, 800));\n        console.error('Naprawiony JSON (pierwsze 800 znaków):', cleanedJson.substring(0, 800));\n        console.error('Błąd pierwotny:', parseError.message);\n        console.error('Błąd po naprawie:', e.message);\n        console.error('Błąd po agresywnej naprawie:', e2.message);\n        \n        // Spróbuj znaleźć problematyczne miejsce\n        const errorMatch = e2.message.match(/position (\\d+)/);\n        if (errorMatch) {\n          const pos = parseInt(errorMatch[1]);\n          const start = Math.max(0, pos - 50);\n          const end = Math.min(cleanedJson.length, pos + 50);\n          console.error('Problem w okolicy pozycji', pos, ':', cleanedJson.substring(start, end));\n        }\n        \n        throw new Error(`Błąd parsowania JSON: ${parseError.message}. Szczegóły w konsoli.`);\n      }\n    }\n  }\n\n  return parsed;\n}\n\nfunction normalizeProduct(product, summary, defaultDateStr, action) {\n  // Normalizuj lp (numer porządkowy)\n  const lp = parseInt(product.lp) || 0;\n  \n  // Normalizuj nazwę produktu\n  const name = (product.name || '').trim() || 'Bez nazwy';\n  \n  // Normalizuj ilość\n  const quantity = parseFloat(product.quantity) || 1;\n  \n  // Normalizuj jednostkę\n  const unit = (product.unit || 'szt').trim().toLowerCase();\n  \n  // Normalizuj opis\n  const description = (product.description || '').trim();\n  \n  // Normalizuj uwagi (notes) - tylko jeśli są podane\n  const notes = (product.notes || product.uwagi || '').trim();\n  \n  return {\n    lp: lp,\n    name: name,\n    quantity: quantity,\n    unit: unit,\n    description: description,\n    notes: notes,\n    date: defaultDateStr,\n    status: 'Nie kupione',\n    created_at: new Date().toISOString(),\n    summary: summary,\n    action: action // Dodaj informację o akcji (add/remove)\n  };\n}\n\n// Główna logika parsowania\nconst output = [];\nlet allProductsData = []; // Zbierz wszystkie produkty do obliczenia statystyk\n\nfor (const item of inputItems) {\n  try {\n    const parsed = parseFromModelText(item.json);\n    const products = parsed.products || [];\n    const summary = parsed.summary || '';\n    \n    // Pobierz akcję (add/remove) - domyślnie 'add'\n    const action = parsed.action || 'add';\n    \n    // Pobierz datę dzisiejszą jako domyślną\n    const today = new Date();\n    const defaultDateStr = today.toISOString().split('T')[0]; // Format: yyyy-mm-dd\n    \n    // Przetwórz każdy produkt\n    for (const product of products) {\n      const normalizedProduct = normalizeProduct(product, summary, defaultDateStr, action);\n      allProductsData.push(normalizedProduct);\n    }\n    \n  } catch (error) {\n    throw new Error(`Błąd parsowania produktu: ${error.message}. Dane: ${JSON.stringify(item.json).substring(0, 200)}`);\n  }\n}\n\nif (allProductsData.length === 0) {\n  throw new Error('Nie znaleziono żadnych produktów do zapisania');\n}\n\n// Oblicz statystyki\nconst totalProducts = allProductsData.length;\nconst totalQuantity = allProductsData.reduce((sum, product) => sum + (parseFloat(product.quantity) || 0), 0);\n\n// Sprawdź akcję (jeśli wszystkie produkty mają tę samą akcję)\nconst action = allProductsData[0]?.action || 'add';\n\n// Dodaj statystyki do każdego produktu (będą dostępne w wiadomości Telegram)\nfor (const product of allProductsData) {\n  product.stats = {\n    totalProducts: totalProducts,\n    totalQuantity: totalQuantity,\n    action: action // Dodaj akcję do statystyk\n  };\n  output.push({ json: product });\n}\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        640,
        480
      ],
      "id": "8b47eb5e-fa75-43b7-b118-840cf0447399",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "// Przygotuj jedno powiadomienie z całą listą produktów\n// Pobierz dane z węzła parsującego GPT (Code in JavaScript1), nie z Google Sheets\nconst allProducts = $('Code in JavaScript1').all();\n\nif (allProducts.length === 0) {\n  throw new Error('Brak produktów do wyświetlenia');\n}\n\n// Debug - sprawdź strukturę danych\nconsole.log('Liczba produktów:', allProducts.length);\nconsole.log('Pierwszy produkt:', JSON.stringify(allProducts[0]?.json, null, 2));\n\n// Pobierz dane z pierwszego produktu (statystyki i podsumowanie)\nconst firstProduct = allProducts[0].json;\nconst summary = firstProduct.summary || '';\nconst totalProducts = firstProduct.stats?.totalProducts || allProducts.length;\nconst totalQuantity = firstProduct.stats?.totalQuantity || allProducts.reduce((sum, p) => sum + (parseFloat(p.json.quantity) || 0), 0);\n\n// Stwórz listę produktów\nconst productsList = allProducts.map((item) => {\n  const product = item.json;\n  const lp = product.lp || 0;\n  // Sprawdź różne możliwe pola z nazwą\n  const name = (product.name || product['nazwa produktu'] || product.title || '').trim();\n  if (!name || name === '') {\n    console.log('Brak nazwy produktu:', JSON.stringify(product, null, 2));\n  }\n  const quantity = product.quantity || product.ilość || 1;\n  const unit = product.unit || product.jednostka || 'szt';\n  const description = (product.description || product.uwagi || '') ? ` (${product.description || product.uwagi || ''})` : '';\n  \n  return `${lp}. ${name || 'Bez nazwy'} - ${quantity} ${unit}${description}`;\n}).filter(item => item.trim() !== '').join('\\n');\n\n// Zwróć jedno powiadomienie z całą listą\nreturn [{\n  json: {\n    message: `✅ Lista zakupów została utworzona w [Excelu](https://docs.google.com/spreadsheets/d/1Xtq-ZV8jDUnZkqCeTt5cmniAiregV9iGRulUyq19Zl4/edit?gid=0#gid=0)\\n\\n📋 Lista zakupów:\\n${productsList}\\n\\n📊 Podsumowanie:\\n• Liczba produktów: ${totalProducts}\\n• Łączna ilość: ${totalQuantity}`,\n    summary: summary,\n    totalProducts: totalProducts,\n    totalQuantity: totalQuantity\n  }\n}];"
      },
      "id": "e2a9dfed-d01f-4afd-a8dc-2220c64e6633",
      "name": "Przygotuj powiadomienie",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        384
      ]
    },
    {
      "parameters": {
        "chatId": "-1001824126408",
        "text": "={{ $json.message }}",
        "additionalFields": {
          "parse_mode": "Markdown",
          "message_thread_id": 98
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1152,
        384
      ],
      "id": "6275baad-8fb5-42cf-a899-bd20db402d2e",
      "name": "Send a text message",
      "webhookId": "d9b6d266-f6d4-4390-bfe2-199001b5cab7",
      "credentials": {
        "telegramApi": {
          "id": "RYqcsiYsOxexfR4U",
          "name": "Telegram account moj asystent"
        }
      }
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.2,
      "position": [
        -2272,
        384
      ],
      "id": "cbea224a-d2ec-40a3-8853-7f42935bfd6c",
      "name": "Telegram Trigger",
      "webhookId": "b948d641-fd4b-49e6-a89a-0031f2a9bc10",
      "credentials": {
        "telegramApi": {
          "id": "RYqcsiYsOxexfR4U",
          "name": "Telegram account moj asystent"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parsuj odpowiedź z rozpoznania intencji\n// Obsługuje intencje: complete_task, shopping_list, new_task\nconst item = $input.first();\nlet text = item.json?.output?.[0]?.content?.[0]?.text || item.json.text || '';\n\nif (typeof text !== \"string\") {\n  return [{ json: { intent: 'new_task', task_identifier: '', completed: false } }];\n}\n\ntext = text.trim().replace(/^```(?:json)?\\s*/i, '').replace(/```$/i, '').trim();\n\nconst match = text.match(/\\{[\\s\\S]*\\}/);\nif (!match) {\n  return [{ json: { intent: 'new_task', task_identifier: '', completed: false } }];\n}\n\ntry {\n  const parsed = JSON.parse(match[0]);\n  \n  // Walidacja intencji - obsługiwane wartości: complete_task, shopping_list, new_task\n  const validIntents = ['complete_task', 'shopping_list', 'new_task'];\n  if (!parsed.intent || !validIntents.includes(parsed.intent)) {\n    // Jeśli intencja nie jest rozpoznana, spróbuj odgadnąć na podstawie zawartości\n    const lowerText = text.toLowerCase();\n    if (lowerText.includes('zakup') || lowerText.includes('kup') || lowerText.includes('lista zakupów')) {\n      parsed.intent = 'shopping_list';\n    } else if (lowerText.includes('zrobione') || lowerText.includes('wykonane') || lowerText.includes('gotowe')) {\n      parsed.intent = 'complete_task';\n    } else {\n      parsed.intent = 'new_task';\n    }\n  }\n  \n  // Upewnij się, że wszystkie wymagane pola są obecne\n  return [{ \n    json: {\n      intent: parsed.intent || 'new_task',\n      task_identifier: parsed.task_identifier || '',\n      completed: parsed.completed !== undefined ? parsed.completed : false\n    }\n  }];\n} catch (error) {\n  // W przypadku błędu parsowania, zwróć domyślną intencję\n  return [{ json: { intent: 'new_task', task_identifier: '', completed: false } }];\n}\n"
      },
      "id": "614b5f58-5472-4aca-83bf-5b76f3d18762",
      "name": "Parsuj intencję",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -800,
        384
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "intent-check",
              "leftValue": "={{ $json.intent }}",
              "rightValue": "complete_task",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e605be27-686c-4558-8adc-b5806bfe0902",
      "name": "Sprawdź intencję",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -288,
        96
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list"
        },
        "responses": {
          "values": [
            {
              "content": "={{ $('OpenAI - Transkrypcja głosu1').item.json.text }}\n\nPowyżej znajduje się lista zadań lub zadanie nagrane głosowo. Przeanalizuj je i:\n1. Wyodrębnij wszystkie zadania\n2. Oszacuj czas potrzebny na każde zadanie\n3. Uwzględnij priorytety (jeśli są wspomniane)\n4. Stwórz harmonogram na dzisiaj z konkretnymi godzinami\n5. Zwróć dane w formacie JSON:\n\n{\n  \"tasks\": [\n    {\n      \"id\": \"unique_id\",\n\"data\": \"data podana w transkrypcji, jeśli nie zostaw puste\"\n      \"title\": \"Nazwa zadania\",\n      \"estimated_time\": 30,\n      \"priority\": \"high|medium|low\",\n      \"scheduled_time\": \"HH:MM\",\n      \"description\": \"Opis zadania\"\n    }\n  ],\n  \"summary\": \"Krótkie podsumowanie harmonogramu\"\n}\n\nZasady:\n- Czas w minutach\n- Harmonogram powinien być realistyczny (uwzględnij przerwy 10-15 min między zadaniami)\n- Jeśli nie podano czasu, oszacuj na podstawie typu zadania\n- Jeśli nie podano priorytetu, ustaw 'medium'\n- Zaplanuj zadania od najbliższej godziny dostępnej (sprawdź aktualną godzinę)\n- Priorytet 'high' powinien być zaplanowany wcześniej\n- Zwróć wyłącznie poprawny JSON, bez dodatkowych opisów.\n- ID zwracać kolejny numer zadania \n- Jeśli zostanie podana data zadania wpisz ją \n- Jesli zostanie podany czas na skonczenie wpisz go \n- Jesli zostanie podana godzina zakonczenia wpisz ją "
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        0,
        0
      ],
      "id": "0b1dbd33-ec01-4be2-81fb-9139869adc33",
      "name": "OpenAI - Organizuj zadania",
      "credentials": {
        "openAiApi": {
          "id": "tieAhpOSBmQOrTPn",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Przygotuj listę niezakończonych zadań do wysłania do GPT\nconst allTasks = $input.all();\nconst transcribedText = $('Code in JavaScript2').first().json.text || '';\n\n// Filtruj tylko niezakończone zadania\nconst pendingTasks = [];\nfor (const task of allTasks) {\n  const status = (task.json.Status || task.json.status || '').toLowerCase().trim();\n  // Pomiń zakończone zadania\n  if (status === 'completed' || status === 'wykonane' || status === 'zakończone') {\n    continue;\n  }\n  \n  pendingTasks.push({\n    id: task.json.ID || task.json.id || '',\n    title: task.json['tytuł zadania'] || task.json.title || '',\n    description: task.json['opis zadania'] || task.json.description || '',\n    row_number: task.json.row_number || task.json.rowNumber\n  });\n}\n\nif (pendingTasks.length === 0) {\n  throw new Error('Nie znaleziono żadnych niezakończonych zadań');\n}\n\n// Zwróć dane do GPT\nreturn [{\n  json: {\n    transcribedText: transcribedText,\n    tasks: pendingTasks\n  }\n}];"
      },
      "id": "9b7133f6-ce13-4a3b-be50-ab9f33d12395",
      "name": "Przygotuj zadania do GPT",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        192
      ]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list"
        },
        "responses": {
          "values": [
            {
              "content": "={{ $json.transcribedText }}\n\nPowyżej znajduje się transkrypcja głosowej wiadomości o zakończeniu zadania.\n\nPoniżej lista wszystkich niezakończonych zadań z Excela:\n\n{{ JSON.stringify($json.tasks, null, 2) }}\n\nPrzeanalizuj transkrypcję i znajdź, które zadania z listy zostały zakończone.\n\n**WAŻNE:**\n- Jeśli transkrypcja zawiera: \"zakończ wszystkie\", \"wszystko zrobione\", \"wszystkie zadania\", \"nie ma więcej zadań\", \"wszystko gotowe\" - zwróć \"all\"\n- Jeśli wskazuje na konkretne zadanie - zwróć jego row_number (liczba, nie string)\n- Jeśli wskazuje na kilka konkretnych zadań - zwróć listę ich row_number (liczby)\n\nZwróć wyłącznie JSON:\n\n{\n  \"task_row_numbers\": [row_number1, row_number2] lub \"all\",\n  \"confidence\": \"high|medium|low\"\n}\n\nPrzykłady:\n- Pojedyncze zadanie: {\"task_row_numbers\": [5], \"confidence\": \"high\"}\n- Wiele zadań: {\"task_row_numbers\": [5, 7, 9], \"confidence\": \"high\"}\n- Wszystkie zadania: {\"task_row_numbers\": \"all\", \"confidence\": \"high\"}\n- Niepewność: {\"task_row_numbers\": [], \"confidence\": \"low\"}\n\n**UWAGA:**\n- row_number to liczba (np. 5, 7, 9), nie string\n- Używaj row_number z listy zadań powyżej\n- Jeśli nie jesteś pewien, zwróć confidence=\"low\"\n\nZwróć wyłącznie poprawny JSON, bez dodatkowych opisów ani komentarzy.\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        576,
        192
      ],
      "id": "aeee412c-b64d-4118-9736-00e1812c1140",
      "name": "OpenAI - Znajdź zadanie po ID",
      "credentials": {
        "openAiApi": {
          "id": "tieAhpOSBmQOrTPn",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * Parsuj odpowiedź GPT i znajdź zadania do zakończenia (pojedyncze lub wszystkie)\n * Używa row_number zamiast ID\n * \n * Użycie w n8n Code node:\n * - Połączenie: OpenAI - Znajdź zadanie po row_number → Parsuj row_number → Update row in sheet\n */\n\n// Parsuj odpowiedź GPT i znajdź zadania do zakończenia\nconst gptResponse = $input.first().json;\nlet text = gptResponse?.output?.[0]?.content?.[0]?.text || gptResponse.text || '';\n\nif (typeof text !== \"string\") {\n  throw new Error('Nie znaleziono odpowiedzi z GPT');\n}\n\n// Wyczyść tekst z markdown code blocks i znaków nowej linii\ntext = text\n  .trim()\n  .replace(/^```(?:json)?\\s*/i, '')\n  .replace(/```$/i, '')\n  .replace(/\\\\n/g, '') // Usuń literały \\n\n  .trim();\n\n// Znajdź JSON w tekście (może być wiele obiektów)\nconst match = text.match(/\\{[\\s\\S]*?\\}/);\nif (!match) {\n  throw new Error(`Nie znaleziono JSON w odpowiedzi GPT. Tekst: ${text.substring(0, 200)}`);\n}\n\nlet parsed;\ntry {\n  parsed = JSON.parse(match[0]);\n} catch (parseError) {\n  // Spróbuj naprawić JSON - usuń wszystkie \\n\n  let cleanedJson = match[0].replace(/\\\\n/g, '').replace(/\\n/g, '');\n  try {\n    parsed = JSON.parse(cleanedJson);\n  } catch (e) {\n    throw new Error(`Błąd parsowania JSON: ${parseError.message}. Tekst: ${match[0].substring(0, 200)}`);\n  }\n}\n\n// Obsłuż różne formaty odpowiedzi (task_row_numbers, task_ids lub task_id dla kompatybilności)\nlet taskRowNumbers = [];\nif (parsed.task_row_numbers === 'all' || parsed.task_ids === 'all') {\n  // Wszystkie zadania\n  taskRowNumbers = 'all';\n} else if (Array.isArray(parsed.task_row_numbers)) {\n  // Nowy format - row_number jako liczby\n  taskRowNumbers = parsed.task_row_numbers.map(rn => parseInt(rn)).filter(rn => !isNaN(rn));\n} else if (Array.isArray(parsed.task_ids)) {\n  // Stary format - spróbuj użyć jako row_number (jeśli są liczby)\n  taskRowNumbers = parsed.task_ids.map(id => parseInt(id)).filter(rn => !isNaN(rn));\n} else if (parsed.task_id) {\n  // Stary format - pojedyncze ID\n  const rowNum = parseInt(parsed.task_id);\n  if (!isNaN(rowNum)) {\n    taskRowNumbers = [rowNum];\n  }\n}\n\nif (parsed.confidence === 'low' || (!taskRowNumbers || (Array.isArray(taskRowNumbers) && taskRowNumbers.length === 0))) {\n  throw new Error('GPT nie znalazł zadań z wystarczającą pewnością');\n}\n\n// Znajdź zadania w liście wszystkich zadań\nconst allTasks = $('Google Sheets - Pobierz wszystkie zadania').all();\nconst foundTasks = [];\n\nif (taskRowNumbers === 'all') {\n  // Zwróć wszystkie niezakończone zadania\n  for (const task of allTasks) {\n    const status = (task.json.Status || task.json.status || '').toLowerCase().trim();\n    if (status !== 'completed' && status !== 'wykonane' && status !== 'zakończone') {\n      foundTasks.push(task.json);\n    }\n  }\n} else {\n  // Znajdź konkretne zadania po row_number\n  for (const rowNumber of taskRowNumbers) {\n    for (const task of allTasks) {\n      const taskRowNum = parseInt(task.json.row_number || task.json.rowNumber || 0);\n      if (taskRowNum === rowNumber) {\n        foundTasks.push(task.json);\n        break;\n      }\n    }\n  }\n}\n\nif (foundTasks.length === 0) {\n  const availableRowNumbers = allTasks.map(t => t.json.row_number || t.json.rowNumber).filter(Boolean).join(', ');\n  throw new Error(`Nie znaleziono zadań. Szukane row_number: ${Array.isArray(taskRowNumbers) ? taskRowNumbers.join(', ') : 'all'}. Dostępne row_number: ${availableRowNumbers}`);\n}\n\n// Zwróć wszystkie znalezione zadania\nreturn foundTasks.map(task => ({ json: task }));\n"
      },
      "id": "f1281664-0b9a-4b6a-a4d5-658ca7737f14",
      "name": "Parsuj ID zadania",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        928,
        192
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "11R8VMzsNy5LSdsL_6TRjbKXRGt6Xqt1EnbC7K_9OKSs",
          "mode": "list",
          "cachedResultName": "zadania",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11R8VMzsNy5LSdsL_6TRjbKXRGt6Xqt1EnbC7K_9OKSs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Arkusz1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11R8VMzsNy5LSdsL_6TRjbKXRGt6Xqt1EnbC7K_9OKSs/edit#gid=0"
        },
        "options": {}
      },
      "id": "91d9abd8-ef2f-4fa6-8945-d6f721ede433",
      "name": "Google Sheets - Pobierz wszystkie zadania",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        64,
        192
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FB1poHZRQGWU0JyZ",
          "name": "Google Sheets moj asystent"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "11R8VMzsNy5LSdsL_6TRjbKXRGt6Xqt1EnbC7K_9OKSs",
          "mode": "list",
          "cachedResultName": "zadania",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11R8VMzsNy5LSdsL_6TRjbKXRGt6Xqt1EnbC7K_9OKSs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Arkusz1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11R8VMzsNy5LSdsL_6TRjbKXRGt6Xqt1EnbC7K_9OKSs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "status": "zakończone",
            "row_number": "={{ $json.row_number }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "tytuł zadania",
              "displayName": "tytuł zadania",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "czas wykoania",
              "displayName": "czas wykoania",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "priorytet",
              "displayName": "priorytet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "godzina wykonania",
              "displayName": "godzina wykonania",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "opis zadania",
              "displayName": "opis zadania",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": false,
              "removed": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1152,
        192
      ],
      "id": "206accbe-d673-400e-a206-9b23229ff4d3",
      "name": "Update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FB1poHZRQGWU0JyZ",
          "name": "Google Sheets moj asystent"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Sprawdź czy to głosowa wiadomość i przepuść dalej\nconst item = $input.first();\n\n// Debug - zobacz co przychodzi\nconsole.log('Otrzymana wiadomość:', JSON.stringify(item.json, null, 2));\n\nconst message = item.json.message || item.json;\n\n// Sprawdź czy to głosowa wiadomość (voice)\nif (message.voice || message.audio) {\n  console.log('Znaleziono głosową wiadomość:', message.voice || message.audio);\n  return [item];\n}\n\n// Jeśli nie jest głosowa, zwróć pustą tablicę (zatrzymaj przepływ)\nconsole.log('To nie jest głosowa wiadomość, pomijam');\nreturn [];"
      },
      "id": "b6b0660f-61dd-4c6a-9628-0636c9ea4796",
      "name": "Sprawdź czy to głos1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2048,
        384
      ]
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}",
        "additionalFields": {}
      },
      "id": "29884ad0-07cd-4605-9429-a97fbc9c092b",
      "name": "Telegram - Pobierz plik głosowy1",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -1824,
        384
      ],
      "webhookId": "5f12233a-86ac-4e12-a1db-2271f95bfbfe",
      "credentials": {
        "telegramApi": {
          "id": "RYqcsiYsOxexfR4U",
          "name": "Telegram account moj asystent"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "transcribe",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -1600,
        384
      ],
      "id": "6dfed71a-1625-4f56-9f2e-5b348b9e6730",
      "name": "OpenAI - Transkrypcja głosu1",
      "credentials": {
        "openAiApi": {
          "id": "tieAhpOSBmQOrTPn",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list"
        },
        "responses": {
          "values": [
            {
              "content": "={{ $json.text }}\n\n\nPowyżej znajduje się wiadomość głosowa. Rozpoznaj intencję użytkownika:\n\n**INTENCJA 1: Oznaczenie zadania jako wykonane**\nJeśli wiadomość zawiera:\n- Słowa wskazujące na zakończenie: zrobione, wykonane, gotowe, skończone, ukończone, done, zakończone, ukończyłem, zrobiłem, skończyłem, zakończyłem, gotowe, zrobione, wykonane\n- Formy przeszłe czasowników związanych z działaniem (zrobiłem X, ukończyłem Y, skończyłem Z)\n- Wskazanie na konkretne zadanie, które zostało wykonane\n\nWtedy zwróć:\n{\n  \"intent\": \"complete_task\",\n  \"task_identifier\": \"tytuł lub nazwa zadania, które zostało wykonane (np. 'zadanie X', 'faktury', 'raport')\",\n  \"completed\": true\n}\n\n**INTENCJA 2: Dodanie produktów do listy zakupów**\nJeśli wiadomość zawiera:\n- Słowa: dodaj do listy zakupów, lista zakupów, zakupy, kup, kupić, potrzebuję, chleb, mleko, masło, jajka, owoce, warzywa, produkty spożywcze, produkty przemysłowe\n- Wymienione produkty spożywcze lub przemysłowe (np. chleb, mleko, jajka, papier toaletowy, mydło)\n- Prośbę o dodanie produktów do zakupów\n- Brak wskazania na zadania do wykonania\n\nWtedy zwróć:\n{\n  \"intent\": \"shopping_list\",\n  \"task_identifier\": \"\",\n  \"completed\": false\n}\n\n**INTENCJA 3: Usunięcie produktów z listy zakupów**\nJeśli wiadomość zawiera:\n- Słowa: usuń z listy, wykreśl, skreśl, usuń zakupy, wyrzuć z listy, usuń wszystko, wyczyść listę, skasuj, wymaż\n- Prośbę o usunięcie konkretnych produktów z listy zakupów (np. \"usuń chleb z listy\", \"wykreśl mleko\")\n- Prośbę o usunięcie wszystkich produktów (np. \"usuń wszystko z listy\", \"wyczyść całą listę zakupów\")\n- Informację że produkty zostały już kupione (np. \"kupiłem chleb\", \"mam już mleko\")\n\nWtedy zwróć:\n{\n  \"intent\": \"shopping_list\",\n  \"task_identifier\": \"\",\n  \"completed\": false\n}\n\n**Uwaga:** Rozróżnij między:\n- \"shopping_list\" - dodawanie produktów (kup, potrzebuję, dodaj)\n- \"shopping_list_remove\" - usuwanie produktów (usuń, wykreśl, skreśl, kupiłem, mam już)\n\n**INTENCJA 4: Lista nowych zadań do zaplanowania**\nJeśli wiadomość zawiera:\n- Listę zadań do wykonania (np. 'muszę zrobić X, Y, Z', 'dodaj mi zadanie do zrobienia na taką datę i taki temat')\n- Planowanie na dzisiaj/jutro/konkretną datę\n- Nowe zadania do dodania z terminem wykonania\n- Brak wskazania na zakończenie istniejącego zadania i brak produktów spożywczych/przemysłowych\n\nWtedy zwróć:\n{\n  \"intent\": \"new_task\",\n  \"task_identifier\": \"\",\n  \"completed\": false\n}\n\n**WAŻNE:**\n- Jeśli wiadomość zawiera BOTH (nowe zadania + oznaczenie wykonania), traktuj jako \"complete_task\" tylko jeśli jest wyraźne wskazanie na zakończenie konkretnego zadania\n- Jeśli wiadomość zawiera produkty spożywcze/przemysłowe i słowa związane z zakupami, traktuj jako \"shopping_list\"\n- Jeśli wiadomość zawiera zadania z datą/terminem wykonania, traktuj jako \"new_task\"\n- Jeśli nie jesteś pewien, ustaw intent=\"new_task\"\n- task_identifier powinien być konkretny i jednoznaczny (tytuł zadania, nie ogólne słowa)\n\nZwróć wyłącznie poprawny JSON, bez dodatkowych opisów, komentarzy ani markdown.\n"
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -1152,
        384
      ],
      "id": "33e8d6de-ea7e-403a-8582-b27fddb7b222",
      "name": "OpenAI - Rozpoznaj intencję1",
      "credentials": {
        "openAiApi": {
          "id": "tieAhpOSBmQOrTPn",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "11R8VMzsNy5LSdsL_6TRjbKXRGt6Xqt1EnbC7K_9OKSs",
          "mode": "list",
          "cachedResultName": "zadania",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11R8VMzsNy5LSdsL_6TRjbKXRGt6Xqt1EnbC7K_9OKSs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Arkusz1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/11R8VMzsNy5LSdsL_6TRjbKXRGt6Xqt1EnbC7K_9OKSs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ID": "={{ $json.id }}",
            "tytuł zadania": "={{ $json.title }}",
            "czas wykoania": "={{ $json.estimated_time }}",
            "priorytet": "={{ $json.priority }}",
            "godzina wykonania": "={{ $json.scheduled_time }}",
            "opis zadania": "={{ $json.description }}",
            "data": "={{ $json.date }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ID",
              "displayName": "ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "tytuł zadania",
              "displayName": "tytuł zadania",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "czas wykoania",
              "displayName": "czas wykoania",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "priorytet",
              "displayName": "priorytet",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "godzina wykonania",
              "displayName": "godzina wykonania",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "opis zadania",
              "displayName": "opis zadania",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "87bf195d-8e6f-4493-a9ad-5c7e81461d94",
      "name": "Google Sheets - Zapisz zadania1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        640,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FB1poHZRQGWU0JyZ",
          "name": "Google Sheets moj asystent"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "/**\n * Parsuj odpowiedź z Whisper i wyciągnij tekst\n * Whisper zwraca tekst w polu 'text'\n * \n * Użycie w n8n Code node:\n * - Wklej ten kod do węzła Code\n * - Połączenie: OpenAI Whisper → Parsuj transkrypcję → OpenAI GPT\n */\n\nconst item = $input.first();\n\n// Wyciągnij tekst z odpowiedzi Whisper\nlet transcribedText = '';\n\n// Whisper może zwrócić tekst w różnych miejscach w zależności od wersji API\nif (item.json.text) {\n  transcribedText = item.json.text;\n} else if (item.json.data && item.json.data.text) {\n  transcribedText = item.json.data.text;\n} else if (typeof item.json === 'string') {\n  transcribedText = item.json;\n} else {\n  // Spróbuj znaleźć tekst w strukturze\n  transcribedText = JSON.stringify(item.json);\n}\n\n// Upewnij się że to string\nif (typeof transcribedText !== 'string') {\n  transcribedText = String(transcribedText);\n}\n\n// Wyczyść tekst\ntranscribedText = transcribedText.trim();\n\nif (!transcribedText) {\n  throw new Error('Nie znaleziono tekstu w odpowiedzi z Whisper');\n}\n\n// Zwróć tekst do dalszego przetwarzania\nreturn [{\n  json: {\n    text: transcribedText,\n    originalData: item.json\n  }\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1376,
        384
      ],
      "id": "bc5bc184-b3d6-4a17-b58b-1a9e6df0fec0",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "jsCode": "/**\n * Parsuj odpowiedź z OpenAI GPT i przygotuj dane do zapisania w Excelu (Google Sheets)\n * \n * Schemat kolumn w Excelu:\n * - ID\n * - Tytuł\n * - Opis\n * - Szacowany czas (min)\n * - Priorytet\n * - Zaplanowana godzina\n * - Data\n * - Status\n * - Utworzono\n * \n * Użycie w n8n Code node:\n * - Połączenie: OpenAI GPT (Organizuj zadania) → Parsuj zadania → Google Sheets\n */\n\nconst inputItems = $input.all();\n\nfunction parseFromModelText(itemJson) {\n  // Wyciągnij tekst z odpowiedzi GPT (langchain format)\n  let text = itemJson?.output?.[0]?.content?.[0]?.text || itemJson.text || '';\n\n  if (typeof text !== \"string\") {\n    throw new Error(\"Nie znaleziono tekstu w output[0].content[0].text\");\n  }\n\n  // Wyczyść tekst z markdown code blocks\n  text = text\n    .trim()\n    .replace(/^```(?:json)?\\s*/i, \"\")\n    .replace(/```$/i, \"\")\n    .trim();\n\n  // Wyciągnij JSON z tekstu\n  const match = text.match(/\\{[\\s\\S]*\\}/);\n  if (!match) {\n    throw new Error(\"W tekście nie ma obiektu JSON\");\n  }\n\n  return JSON.parse(match[0]);\n}\n\nfunction parseDate(dateString) {\n  if (!dateString) {\n    return null;\n  }\n\n  // Jeśli data jest już w formacie yyyy-mm-dd\n  if (typeof dateString === 'string' && dateString.match(/^\\d{4}-\\d{2}-\\d{2}$/)) {\n    return dateString;\n  }\n\n  // Format DD.MM.YYYY (np. 23.01.2026)\n  const ddmmyyyy = dateString.match(/^(\\d{1,2})\\.(\\d{1,2})\\.(\\d{4})$/);\n  if (ddmmyyyy) {\n    const day = ddmmyyyy[1].padStart(2, '0');\n    const month = ddmmyyyy[2].padStart(2, '0');\n    const year = ddmmyyyy[3];\n    return `${year}-${month}-${day}`;\n  }\n\n  // Format DD/MM/YYYY\n  const ddmmyyyySlash = dateString.match(/^(\\d{1,2})\\/(\\d{1,2})\\/(\\d{4})$/);\n  if (ddmmyyyySlash) {\n    const day = ddmmyyyySlash[1].padStart(2, '0');\n    const month = ddmmyyyySlash[2].padStart(2, '0');\n    const year = ddmmyyyySlash[3];\n    return `${year}-${month}-${day}`;\n  }\n\n  // Spróbuj sparsować jako Date object\n  try {\n    const dateObj = new Date(dateString);\n    if (!isNaN(dateObj.getTime())) {\n      return dateObj.toISOString().split('T')[0];\n    }\n  } catch (e) {\n    // Ignoruj błędy parsowania\n  }\n\n  return null;\n}\n\nfunction normalizeTask(task, summary, defaultDateStr) {\n  // Generuj unikalne ID jeśli nie ma\n  const id = task.id || `task_${Date.now()}_${Math.random().toString(36).substr(2, 9)}`;\n  \n  // Normalizuj priorytet\n  let priority = (task.priority || 'medium').toLowerCase();\n  if (!['high', 'medium', 'low'].includes(priority)) {\n    priority = 'medium';\n  }\n  \n  // Normalizuj czas (upewnij się że to liczba)\n  const estimatedTime = parseInt(task.estimated_time) || 30;\n  \n  // Normalizuj godzinę (format HH:MM)\n  let scheduledTime = task.scheduled_time || '';\n  if (scheduledTime && !scheduledTime.match(/^\\d{2}:\\d{2}$/)) {\n    // Spróbuj sparsować różne formaty czasu\n    const timeMatch = scheduledTime.match(/(\\d{1,2}):?(\\d{2})?/);\n    if (timeMatch) {\n      const hours = timeMatch[1].padStart(2, '0');\n      const minutes = (timeMatch[2] || '00').padStart(2, '0');\n      scheduledTime = `${hours}:${minutes}`;\n    }\n  }\n  \n  // Normalizuj datę\n  // WARUNEK: Jeśli w transkrypcji (zadaniu) jest data - użyj jej, w przeciwnym razie użyj dzisiejszej daty\n  let taskDate = defaultDateStr; // Domyślna data = dzisiaj (używana gdy brak daty w transkrypcji)\n  \n  // Sprawdź pole 'data' lub 'date' w zadaniu z transkrypcji\n  const dateFromTask = task.data || task.date;\n  if (dateFromTask) {\n    const parsedDate = parseDate(dateFromTask);\n    if (parsedDate) {\n      // Jeśli data z transkrypcji jest poprawna - użyj jej\n      taskDate = parsedDate;\n    }\n    // Jeśli nie udało się sparsować daty z transkrypcji, pozostaw domyślną (dzisiejszą) datę\n  }\n  // Jeśli w ogóle nie ma daty w transkrypcji, pozostaje domyślna (dzisiejsza) data\n  \n  return {\n    id: id,\n    title: (task.title || '').trim() || 'Bez tytułu',\n    description: (task.description || '').trim(),\n    estimated_time: estimatedTime,\n    priority: priority,\n    scheduled_time: scheduledTime,\n    date: taskDate,\n    status: 'pending',\n    created_at: new Date().toISOString(),\n    summary: summary\n  };\n}\n\n// Główna logika parsowania\nconst output = [];\nlet allTasksData = []; // Zbierz wszystkie zadania do obliczenia statystyk\n\nfor (const item of inputItems) {\n  try {\n    const parsed = parseFromModelText(item.json);\n    const tasks = parsed.tasks || [];\n    const summary = parsed.summary || '';\n    \n    // Pobierz datę dzisiejszą jako domyślną (tylko jeśli zadanie nie ma własnej daty)\n    const today = new Date();\n    const defaultDateStr = today.toISOString().split('T')[0]; // Format: yyyy-mm-dd\n    \n    // Przetwórz każde zadanie\n    for (const task of tasks) {\n      const normalizedTask = normalizeTask(task, summary, defaultDateStr);\n      allTasksData.push(normalizedTask);\n    }\n    \n  } catch (error) {\n    throw new Error(`Błąd parsowania zadania: ${error.message}. Dane: ${JSON.stringify(item.json).substring(0, 200)}`);\n  }\n}\n\nif (allTasksData.length === 0) {\n  throw new Error('Nie znaleziono żadnych zadań do zapisania');\n}\n\n// Oblicz statystyki\nconst totalTasks = allTasksData.length;\nconst totalTime = allTasksData.reduce((sum, task) => sum + (parseInt(task.estimated_time) || 0), 0);\n\n// Dodaj statystyki do każdego zadania (będą dostępne w wiadomości Telegram)\nfor (const task of allTasksData) {\n  task.stats = {\n    totalTasks: totalTasks,\n    totalTime: totalTime,\n    summary: allTasksData[0].summary || ''\n  };\n  output.push({ json: task });\n}\n\nreturn output;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        352,
        0
      ],
      "id": "5b25cc79-9984-41f5-a154-4f3b4fd33c7a",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "chatId": "-1001824126408",
        "text": "=✅ Wszystkie zadania zostały dodane do [Excela!](https://docs.google.com/spreadsheets/d/11R8VMzsNy5LSdsL_6TRjbKXRGt6Xqt1EnbC7K_9OKSs/edit?gid=0#gid=0)\n\n📋 Harmonogram:\n{{ $json['tytuł zadania'] }}\n\n📊 Podsumowanie:\n• Liczba zadań: {{ $('Code in JavaScript3').item.json.stats.totalTasks }}\n• Łączny czas:  {{ $('Code in JavaScript3').item.json.stats.totalTime }} minut\n\n⏰ Przypomnienia będą wysyłane 10 minut przed każdym zadaniem.\n",
        "additionalFields": {
          "message_thread_id": 35
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        928,
        0
      ],
      "id": "3dd9c846-de21-4a13-8fed-d0eadbbd82a8",
      "name": "Send a text message1",
      "webhookId": "d9b6d266-f6d4-4390-bfe2-199001b5cab7",
      "credentials": {
        "telegramApi": {
          "id": "RYqcsiYsOxexfR4U",
          "name": "Telegram account moj asystent"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "8394bd46-426c-443d-b693-00b8fffde141",
              "leftValue": "={{ $json.intent }}",
              "rightValue": "shopping_list",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -624,
        384
      ],
      "id": "683dd756-7be3-4803-94ad-3a18832f1bab",
      "name": "If"
    },
    {
      "parameters": {
        "chatId": "-1001824126408",
        "text": "=✅ Zadanie {{ $('Parsuj ID zadania').item.json['tytuł zadania'] }} zostało oznaczone jako zakończone w pliku [Excel](https://docs.google.com/spreadsheets/d/11R8VMzsNy5LSdsL_6TRjbKXRGt6Xqt1EnbC7K_9OKSs/edit?gid=0#gid=0)",
        "additionalFields": {
          "message_thread_id": 35
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1376,
        192
      ],
      "id": "6e09242f-96cb-4d1f-95fb-ebdb26d1e0e4",
      "name": "Send a text message2",
      "webhookId": "d9b6d266-f6d4-4390-bfe2-199001b5cab7",
      "credentials": {
        "telegramApi": {
          "id": "RYqcsiYsOxexfR4U",
          "name": "Telegram account moj asystent"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "a02953e4-6858-4f6a-bb49-553e3cf6e577",
              "leftValue": "={{ $json.action }}",
              "rightValue": "remove",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        592
      ],
      "id": "1d3b0eae-8207-4f26-ac82-a202afedea09",
      "name": "If1"
    },
    {
      "parameters": {
        "jsCode": "// Parsuj odpowiedź z OpenAI GPT dla listy zakupów\n// Obsługuje akcje: add (dodanie produktów), remove (usunięcie produktów)\nconst item = $input.first();\nlet text = item.json?.output?.[0]?.content?.[0]?.text || item.json.text || '';\n\nif (typeof text !== \"string\") {\n  return [{ json: { action: 'add', products: [], summary: 'Błąd: nie znaleziono tekstu w odpowiedzi' } }];\n}\n\n// Wyczyść tekst z markdown code blocks\ntext = text.trim().replace(/^```(?:json)?\\s*/i, '').replace(/```$/i, '').trim();\n\n// Wyciągnij JSON z tekstu\nconst match = text.match(/\\{[\\s\\S]*\\}/);\nif (!match) {\n  return [{ json: { action: 'add', products: [], summary: 'Błąd: nie znaleziono JSON w odpowiedzi' } }];\n}\n\ntry {\n  const parsed = JSON.parse(match[0]);\n  \n  // Walidacja akcji - obsługiwane wartości: add, remove\n  const validActions = ['add', 'remove'];\n  if (!parsed.action || !validActions.includes(parsed.action)) {\n    const lowerText = text.toLowerCase();\n    if (lowerText.includes('usuń') || lowerText.includes('wykreśl') || lowerText.includes('skreśl') || \n        lowerText.includes('nie kupuj') || lowerText.includes('nie potrzebuję') || \n        lowerText.includes('usuń z listy') || lowerText.includes('odwołaj')) {\n      parsed.action = 'remove';\n    } else {\n      parsed.action = 'add';\n    }\n  }\n  \n  // Walidacja i normalizacja produktów\n  const products = (parsed.products || []).map((product, index) => {\n    // Użyj row_number z GPT, jeśli istnieje, inaczej oblicz z lp\n    const rowNumber = product.row_number || product.rowNumber || (product.lp ? product.lp + 1 : index + 2);\n    const lp = product.lp || product.row_number || (index + 1);\n    \n    return {\n      lp: lp,\n      row_number: rowNumber,\n      rowNumber: rowNumber,\n      name: (product.name || '').trim() || `Produkt ${index + 1}`,\n      quantity: parseInt(product.quantity) || 1,\n      unit: (product.unit || 'szt').trim(),\n      description: (product.description || '').trim(),\n      notes: (product.notes || '').trim()\n    };\n  });\n  \n  // Oblicz min/max row_number do usuwania wielu wierszy\n  const allRowNumbers = products.map(p => p.row_number);\n  const minRowNumber = allRowNumbers.length > 0 ? Math.min(...allRowNumbers) : 0;\n  const maxRowNumber = allRowNumbers.length > 0 ? Math.max(...allRowNumbers) : 0;\n  \n  return [{ \n    json: {\n      action: parsed.action || 'add',\n      products: products,\n      summary: (parsed.summary || '').trim() || `${parsed.action === 'remove' ? 'Usunięcie' : 'Dodanie'} ${products.length} produkt${products.length !== 1 ? 'ów' : 'u'}`,\n      // Dodatkowe pola do usuwania\n      startRowNumber: minRowNumber,\n      endRowNumber: maxRowNumber,\n      rowsCount: products.length,\n      allRowNumbers: allRowNumbers\n    }\n  }];\n} catch (error) {\n  console.error('Błąd parsowania JSON:', error.message);\n  return [{ \n    json: { \n      action: 'add', \n      products: [], \n      summary: `Błąd parsowania: ${error.message}`,\n      startRowNumber: 0,\n      endRowNumber: 0,\n      rowsCount: 0,\n      allRowNumbers: []\n    } \n  }];\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        512
      ],
      "id": "c3e2ae3c-fc12-4b7b-a534-54357ef7e03e",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1Xtq-ZV8jDUnZkqCeTt5cmniAiregV9iGRulUyq19Zl4",
          "mode": "list",
          "cachedResultName": "lista zakupów",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Xtq-ZV8jDUnZkqCeTt5cmniAiregV9iGRulUyq19Zl4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Arkusz1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Xtq-ZV8jDUnZkqCeTt5cmniAiregV9iGRulUyq19Zl4/edit#gid=0"
        },
        "startIndex": "={{ $json.startRowNumber }}",
        "numberToDelete": "={{ $json.rowsCount }}"
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        688,
        720
      ],
      "id": "0d5ef8cc-7ae2-4b76-91a3-8b90916f917a",
      "name": "Delete rows or columns from sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FB1poHZRQGWU0JyZ",
          "name": "Google Sheets moj asystent"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-1001824126408",
        "text": "=❌ Artykuł(y) \n\n{{ $json.lista }} \n\nzostał(y) pomyślnie usunięty(e) z listy zakupów.",
        "additionalFields": {
          "parse_mode": "=Markdown",
          "message_thread_id": 98
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1152,
        768
      ],
      "id": "46d389d3-5969-4add-b020-16547b5b052c",
      "name": "Send a text message3",
      "webhookId": "d9b6d266-f6d4-4390-bfe2-199001b5cab7",
      "credentials": {
        "telegramApi": {
          "id": "RYqcsiYsOxexfR4U",
          "name": "Telegram account moj asystent"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1Xtq-ZV8jDUnZkqCeTt5cmniAiregV9iGRulUyq19Zl4",
          "mode": "list",
          "cachedResultName": "lista zakupów",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Xtq-ZV8jDUnZkqCeTt5cmniAiregV9iGRulUyq19Zl4/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Arkusz1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1Xtq-ZV8jDUnZkqCeTt5cmniAiregV9iGRulUyq19Zl4/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -448,
        496
      ],
      "id": "70c19a45-3552-4574-a98d-f4ae89c7a829",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "FB1poHZRQGWU0JyZ",
          "name": "Google Sheets moj asystent"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const allRows = $input.all();\n\n// Stwórz listę tekstową z row_number\nconst lista = allRows.map(item => {\n  const rowNum = item.json.row_number;\n  const nazwa = item.json[\"nazwa produktu\"];\n  const ilosc = item.json[\"ilość\"];\n  const status = item.json.status;\n  return `${rowNum}. ${nazwa} - ${ilosc} (${status})`;\n}).join('\\n');\n\nconst poprzedniTekst = $('Code in JavaScript2').first().json.originalData.text;\n\nreturn {\n  json: {\n    lista: lista,\n    poprzedniTekst: poprzedniTekst,\n    polaczonyTekst: `${poprzedniTekst}\\n\\n${lista}`\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -272,
        576
      ],
      "id": "0955f61f-de4f-48ed-b09d-9c4007dfdfe2",
      "name": "Code in JavaScript4"
    },
    {
      "parameters": {
        "jsCode": "const summary = $('Code in JavaScript').first().json.summary;\n\n// Usuń prefix \"Usunięcie z listy:\" i podziel po przecinkach\nconst cleanText = summary.replace(/^.*?:\\s*/, ''); // Usuwa wszystko do dwukropka\nconst items = cleanText.split(',').map(item => item.trim());\n\n// Stwórz numerowaną listę\nconst lista = items.map((item, index) => `${index + 1}. ${item}`).join('\\n');\n\nreturn {\n  json: {\n    lista: lista\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        912,
        736
      ],
      "id": "52644108-c35f-4a3e-b4c4-a6ea38983df8",
      "name": "Code in JavaScript5"
    }
  ],
  "pinData": {},
  "connections": {
    "OpenAI - Rozpoznaj intencję": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Przygotuj powiadomienie": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Google Sheets - Zapisz zadania",
            "type": "main",
            "index": 0
          },
          {
            "node": "Przygotuj powiadomienie",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Sprawdź czy to głos1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsuj intencję": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sprawdź intencję": {
      "main": [
        [
          {
            "node": "Google Sheets - Pobierz wszystkie zadania",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "OpenAI - Organizuj zadania",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Organizuj zadania": {
      "main": [
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Przygotuj zadania do GPT": {
      "main": [
        [
          {
            "node": "OpenAI - Znajdź zadanie po ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Znajdź zadanie po ID": {
      "main": [
        [
          {
            "node": "Parsuj ID zadania",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsuj ID zadania": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Pobierz wszystkie zadania": {
      "main": [
        [
          {
            "node": "Przygotuj zadania do GPT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sprawdź czy to głos1": {
      "main": [
        [
          {
            "node": "Telegram - Pobierz plik głosowy1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram - Pobierz plik głosowy1": {
      "main": [
        [
          {
            "node": "OpenAI - Transkrypcja głosu1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Transkrypcja głosu1": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Rozpoznaj intencję1": {
      "main": [
        [
          {
            "node": "Parsuj intencję",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Zapisz zadania1": {
      "main": [
        [
          {
            "node": "Send a text message1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "OpenAI - Rozpoznaj intencję1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Google Sheets - Zapisz zadania1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Sprawdź intencję",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update row in sheet": {
      "main": [
        [
          {
            "node": "Send a text message2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Delete rows or columns from sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete rows or columns from sheet": {
      "main": [
        [
          {
            "node": "Code in JavaScript5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Code in JavaScript4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript4": {
      "main": [
        [
          {
            "node": "OpenAI - Rozpoznaj intencję",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript5": {
      "main": [
        [
          {
            "node": "Send a text message3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "befea8ae-f016-49f0-9aa3-c39f96daff65",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "36c1969345fc1ddf302b7bbacc043da804ffaa31330036d1a88af5ddcc3a4146"
  },
  "id": "19J1qChtn1izC1XMrFB5B",
  "tags": []
}